.answer {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.answer:hover {
  background-color: var(--background-selected);
}

.selected {
  border: none;
  background-color: var(--background-selected);
}

.correct {
  border: none;
  background-color: var(--background-correct) !important;
}

.wrong {
  border: none;
  background-color: var(--background-incorrect);
}

@media screen and (max-width: 800px) {
  .answer {
    padding: 5px 10px;
    margin-right: 6px;
  }
}

@media screen and (max-width: 700px) {
  .answer {
    padding: 4px 10px;
    font-size: 0.9rem;
    margin-right: 6px;
  }
}

@media screen and (max-width: 400px) {
  .answer {
    padding: 4px 10px;
    font-size: 0.8rem;
    margin-right: 6px;
  }
}
