.question {
  border-bottom: 1px solid #dbdef0;
}

.answers {
  display: flex;
  font-family: 'Inter', sans-serif;
  margin-bottom: 15px;
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  .header {
    font-size: 1rem;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 400px) {
  .answers {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  .header {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .answers {
    margin-bottom: 7px;
  }
}
