.answer {
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.answer:hover {
  background-color: var(--background-selected);
}

.selected {
  background-color: var(--background-selected);
}
