:root {
  --background-main: #f5f7fb;
  --background-button: #4d5b9e;
  --background-selected: #d6dbf5;
  --background-correct: #94d7a2;
  --background-incorrect: #f8bcbc;
  --text-color: #293264;
  --border-color: #4d5b9e;
}
